.menu-container {
    border-bottom-color: #0688f9;
    border-bottom-style: solid;
    border-bottom-width: 5px!important;
}
.header-top {display: none;}
div#ait-woocommerce-cart-wrapper {display: none;}
.site-logo {
    width: 200px!important;
}
.naisamc {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: blue!important;
}
.page-title {display: none;}
.site-branding {
    float: left;
}
.right-header {
    float: right;
}
.social-icons {
    margin-top: 5%;
}
#_dgx_donate_donor_first_name input {
    margin-left: 30px;
}
#_dgx_donate_donor_last_name input {
    margin-left: 32px;
}
#_dgx_donate_donor_email input {
    margin-left: 70px;
}
#_dgx_donate_donor_phone input {
    margin-left: 61px;
}
#_dgx_donate_donor_address input {
    margin-left: 42px;
}
#_dgx_donate_donor_address2 input {
    margin-left: 29px;
}
#_dgx_donate_donor_city input {
    margin-left: 74px;
}
#_dgx_donate_donor_state select {
    margin-left: 62px;
}
#_dgx_donate_donor_country select {
    margin-left: 47px;
}
#_dgx_donate_donor_zip input {
    margin-left: 22px;
}
#dgx_donate_giving_level_1000 input{
    margin-top: 0%;
}
#dgx_donate_giving_level_500 {
    margin-left: 10px;
}
#dgx_donate_giving_level_500 input{
    margin-top: 0%;
}
#dgx_donate_giving_level_100 {
    margin-left: 3px;
}
#dgx_donate_giving_level_100 input{
    margin-top: 0%;
}
#dgx_donate_giving_level_50 {
    margin-left: 10px;
}
#dgx_donate_giving_level_50 input {
    margin-top: 0px;
}
#other_radio_button input {
    margin-top: 0%;
}

#dgx_donate_giving_level_5 input {
    margin-top: 0%;
}
#dgx_donate_giving_level_10 input {
    margin-top: 0%;
}
#dgx_donate_giving_level_20 input {
    margin-top: 0%;
}
.dgx-donate-form-section span.horiz {
    margin-left: 15px;
}
#dgx_donate_giving_level_200 input {
    margin-top: 0%;
}
#_dgx_donate_donor_city {
    height: 54px;
}
#_dgx_donate_donor_state {
    height: 53px;
}
#_dgx_donate_donor_country {
    height: 50px;
}
#_dgx_donate_donor_country .sbHolder {
    width: 70%;
    float: right
}
#_dgx_donate_donor_state .sbHolder {
    width: 70%;
    float: right
}
/*Video Gallery*/
.album {
    min-height: 50rem; /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: transparent;
}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0 !important;
}

.card > img {
    margin-bottom: .75rem;
}

.card-text {
    font-size: 85%;
}
.seamless-donations-error-message-field {
    color: red;
    background-color: transparent !important;
}
.seamless-donations-forms-error-message {
    color: #000;
    background-color: transparent !important;
    margin-left: 15px;
}
input.seamless-donations-invalid-input[type="text"] {
    background-color: transparent;
}
.slick-dots {
    display: none !important;
}
.col-1 {
    max-width: 100% !important;
}
.nav-menu-main > ul > li li a {
    font-weight: normal;
}
.nav-menu-main > ul > li > a {
    font-weight: unset !important;
}
.woocommerce .col-1, .woocommerce .col-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 67% !important;
}
#header-image-naisa {
    width: 195px;
}
#menu-item-16509 {
    display: none;
}
#menu-item-16510 {
    display: none;
}
.nav-menu-main > ul > li > a {
    font-size: 18px;
}
.bx-link-button {
    padding: 1% !important;
}
@media (max-width: 981px) {
    #header-image-naisa {
        width: 135px;
    }
}
@media (max-width: 768px) {
    .su-column img, .su-column iframe, .su-column object, .su-column embed {
        max-width: 100%;
        width: 100%;
    }
}
@media (max-width: 480px) {
    .right-header {
        display: none;
    }
    #menu-item-16509 {
        display: block;
    }
    #menu-item-16510 {
        display: block;
    }
}
#mce-EMAIL {
    margin-left: 10px;
}





/*
CSS here.
*/
@media only screen and (min-width: 980px) {
    .sameh {
        min-height: 620px;
    }
}
@media only screen and (min-width: 981px) {
    .sameh {
        min-height: 540px;
    }

    h6.blogt {
        min-height: 130px;
    }
    h2.blogh {

        min-height: 67px;
    }
}
img.alignright.wp-image-6598.load-finished, img.alignright.wp-image-6372.load-finished,img.alignright.wp-image-6603.load-finished, img.alignright.wp-image-6578.load-finished, img.alignright.wp-image-6608.load-finished, img.alignright.size-full.wp-image-6586.load-finished, img.alignright.wp-image-6372.load-finished, img.alignright.wp-image-6590.load-finished,img.alignright.wp-image-6578.load-finished, img.alignright.wp-image-6594.size-full.load-finished {
    width: 200px;
}
.nav-menu-main > ul > li li {
    list-style: none;
}
.sticky-menu.menu-container {
    z-index: 100000000;
}
input#ihc_submit_bttn {
    background: #f97806!important;
    border: 0px!important;
    padding: 14px!important;
    border-radius: 0px!important;
    cursor: pointer;
    font-size: 17px;
    text-transform: uppercase;
}
.ihc-register-2 .iump-submit-form input:hover {
    opacity: .9;
}
img.attachment-full.size-full.load-finished {
    border: 0px !important;
    width: auto;
    vertical-align: middle;
}
.page-id-16580 .ihc-level-item-content ul {
    padding-bottom: 1em;
    list-style-image: url(wp-content/uploads/2017/10/check-1-e1506756066497.png);
}
@media only screen and (max-width: 921px)
{
    .page-id-3122 input[type="text"]{
        width: 100% !important;;
        margin-left: 0px !important;
    }
    .page-id-3122 #_dgx_donate_donor_country .sbHolder, .page-id-3122 #_dgx_donate_donor_state .sbHolder {
        width: 100% !important;
    }
    .page-id-3122 input[type=checkbox], .page-id-3122 input[type=radio] {
        box-sizing: border-box;
        padding: 0;
        width: auto !important;
    }
}

.page-id-3122 .dgx-donate-form-section span.horiz {

    width: 100% !important;
    clear: both;
    float: left;
    margin-left: 0 !important;

}

@media only screen and (max-width: 770px) {


    .home .bx-caption-desc {
        height: 150px !important;
    }
    .home h3.bx-title
    {
        font-size : 18px;
    }
}
@media only screen and (min-width: 960px) {
    .page-id-16580 .ihc_level_template_5 .ihc-level-item {
        width: 33.3%;
    }
    .page-id-16580 .ihc_level_template_5 .ihc-level-item-wrap {
        min-height: 1100px;
    }
}

h2.blogh {
    font-size: 14px;
    line-height: 22px;

}

.bx-pager.bx-default-pager {
    display: none;
}
ul#menu-main-menu {
    margin: 10px 0;
}
.wpcf7-form td
{
    padding: 5px;
}

.wpcf7-form textarea
{
    width: 100%;
}
.header-container {
    padding-bottom: 10px;
}
#elm-easy-slider-_e2805073edb281 .bx-wrapper li .bx-caption-desc {
    background: rgba(0,0,0,0.5);
}
.menu-container {
    border-bottom-color: #0688f9;
    border-bottom-style: solid;
    border-bottom-width: 5px!important;
    border-top-color: #0688f9 !important;
    border-top-style: solid;
    border-top-width: 5px!important;
}
.header-top {display: none;}
div#ait-woocommerce-cart-wrapper {display: none;}
.site-logo {
    width: 200px!important;
}
.naisamc {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: blue!important;
}
.page-title {display: none;}
.site-branding {
    float: left;
}
.right-header {
    float: right;
}
.social-icons {
    margin-top: 5%;
}
#_dgx_donate_donor_first_name input {
    margin-left: 30px;
}
#_dgx_donate_donor_last_name input {
    margin-left: 32px;
}
#_dgx_donate_donor_email input {
    margin-left: 70px;
}
#_dgx_donate_donor_phone input {
    margin-left: 61px;
}
#_dgx_donate_donor_address input {
    margin-left: 42px;
}
#_dgx_donate_donor_address2 input {
    margin-left: 29px;
}
#_dgx_donate_donor_city input {
    margin-left: 74px;
}
#_dgx_donate_donor_state select {
    margin-left: 62px;
}
#_dgx_donate_donor_country select {
    margin-left: 47px;
}
#_dgx_donate_donor_zip input {
    margin-left: 22px;
}
#dgx_donate_giving_level_1000 input{
    margin-top: 0%;
}
#dgx_donate_giving_level_500 {
    margin-left: 10px;
}
#dgx_donate_giving_level_500 input{
    margin-top: 0%;
}
#dgx_donate_giving_level_100 {
    margin-left: 3px;
}
#dgx_donate_giving_level_100 input{
    margin-top: 0%;
}
#dgx_donate_giving_level_50 {
    margin-left: 10px;
}
#dgx_donate_giving_level_50 input {
    margin-top: 0px;
}
#other_radio_button input {
    margin-top: 0%;
}

#dgx_donate_giving_level_5 input {
    margin-top: 0%;
}
#dgx_donate_giving_level_10 input {
    margin-top: 0%;
}
#dgx_donate_giving_level_20 input {
    margin-top: 0%;
}
.dgx-donate-form-section span.horiz {
    margin-left: 15px;
}
#dgx_donate_giving_level_200 input {
    margin-top: 0%;
}
#_dgx_donate_donor_city {
    height: 54px;
}
#_dgx_donate_donor_state {
    height: 53px;
}
#_dgx_donate_donor_country {
    height: 50px;
}
#_dgx_donate_donor_country .sbHolder {
    width: 70%;
    float: right
}
#_dgx_donate_donor_state .sbHolder {
    width: 70%;
    float: right
}
/*Video Gallery*/
.album {
    min-height: 50rem; /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: transparent;
}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0 !important;
}

.card > img {
    margin-bottom: .75rem;
}

.card-text {
    font-size: 85%;
}
.seamless-donations-error-message-field {
    color: red;
    background-color: transparent !important;
}
.seamless-donations-forms-error-message {
    color: #000;
    background-color: transparent !important;
    margin-left: 15px;
}
input.seamless-donations-invalid-input[type="text"] {
    background-color: transparent;
}
.slick-dots {
    display: none !important;
}
.col-1 {
    max-width: 100% !important;
}
.woocommerce .col-1, .woocommerce .col-2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 67% !important;
}
.nav-menu-container.nav-menu-main.megaWrapper a {
    font-weight: bold !important;
    text-transform: uppercase;
}

/* Added */
.entry-content > p > a > strong{color:#ffffff!important;}
.donate-set-btn {
    background-color: #0688f9;
    color: #ffffff !important;
    padding: 5px 15px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 26px;
}

.bx-caption-desc {
    background: rgba(0,0,0,0.5);
}